@page "/"

<PageTitle>ETools</PageTitle>

<!--Hero banner-->
<section class="hero">
    <div class="wide-flex">
        <div class="container">
            <h2>Welcome to Crustacean Conglomerate's ETools</h2>
        </div>
    </div>
</section>

<article>
    <h3>ETools - Tool Management System</h3>
    <h5 class="text-muted">Created by Mihiri, Kenneth, Zaen & Phoenix</h5><br />
    <p>This blazor web application is the final project for DMIT2018. Use the navigation links at the top of the page to get started. With the utilization of this website, employees can easily perform the following tasks to manage the ETools inventory.</p>
    
    <br /><p class="fw-bold ">Website Components</p>
    <ul>
        <li>Purchase Orders - Mihiri</li>
        <li>Receiving - Zaen</li>
        <li>Rentals - Kenneth</li>
        <li>Sales - Phoenix</li>
    </ul>
</article>