@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Etools</PageTitle>


<head>

    <title>Your New Page Title</title>

</head>

    <div class="page">
         

        <main>
        <NavMenu />

            <div>
                @Body
            </div>
        </main>
    </div>

