
<nav class="navbar">
    <div class="brand">
        <img src="./img/logo.jpg" alt="Brand Logo">
        <span class="brand-name">Crusteacean Conglomerate</span>
    </div>
    <div class="nav-links">
            <a class="nav-link mx-2 active" aria-current="page" href="">Home</a>
        <a class="nav-link mx-2" href="PurchaseOrderPages/PurchaseOrder">Purchase Orders</a>
        <a class="nav-link mx-2" href="receiving">Receiving</a>
        <a class="nav-link mx-2" href="SalePages/SaleHome">Sales</a>
        <a class="nav-link mx-2" href="RentalPages/Rentals">Rentals</a>
    </div>
</nav>